@mixin imgColumns($column, $gap, $lineHeight){
	-webkit-column-count: $column;
	-webkit-column-gap: $gap;
	-webkit-perspective:1;
	-moz-column-count: $column;
	-moz-column-gap: $gap;
	column-count: $column;
	column-gap: $gap; 
	line-height: $lineHeight; 
}